 #wrapper {
     height: 100%;
 }

 nav {
     background-color: #AA2629;
     height: 8vw;
     position: relative;
     top: 0px;
 }

 #headerLogo {
     width: 12%;
     margin-left: auto;
     margin-right: auto;
     display: block;
 }

 /* red: #E34B43 
    blue: #0F4E9E*/

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: .1em;
}

h1 {
    font-size: 2.6em;
}

p, div, a, table, span, input {
    font-family: 'Roboto', sans-serif;
}